* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0px;
}

/* Header Section */

header {
    background-color: hsla(112, 50%, 66%, 1);
}

header h1 {
    font-family: "Outfit";
    font-size: 5rem;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

nav a {
    text-decoration: none;
    color: rgb(1, 52, 146);
}

@media (max-width: 480px) {
    nav ul {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding-bottom: 20px;
    }
}

/* Banner Section */

.banner {
    padding-top: 0px;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/banner.jpeg");
    background-size: cover;
    background-position: center;
    border-top: 5px solid rgb(153, 176, 199);
    border-bottom: 5px solid rgb(153, 176, 199);
}

.slogan {
    width: 50%;
    border-radius: 20px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Outfit';
    background-color: rgb(153, 176, 199);
}

/* Pictures Section */

.pictures {
    width: 100%;
    background-color: hsla(112, 50%, 66%, 1);
}

.meet {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Outfit';
    margin-top: 0;
    padding-top: 60px;
}

.pic_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_container img {
    border: 3px solid rgb(153, 176, 199);
    border-radius: 10px;
}

.img_container h3 {
    text-align: center;
    font-size: 2rem;
}

.landscape {
    width: 360px;
    height: 480px;
}

@media (max-width: 480px) {
    .landscape {
        width: 95%;
    }
}

/* Footer Section */

footer {
    background-color: rgb(153, 176, 199);
    display: flex;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 2rem;
}
